.connexion_slide {
    margin: 20%;
    display: flex;
    flex-direction: column;
}




.Button_Facebook {
    width: 15%;
    background-color: #C4C4C4;
    border-radius: 69px;
    margin-top: 2%;
    text-decoration: none;
    color: black;
    display: flex;
    text-justify: center;
    align-items: center;
    padding-left: 0.1%;
}

.Button_Google {
    width: 15%;
    background-color: #C4C4C4;
    border-radius: 69px;
    margin-top: 2%;
    padding-left: 0.1%;
    text-justify: center;
    display: flex;
    align-items: center;
}

.texte_with_facebook {
    padding-left: 2em;
}
.texte_with_google {
    padding-left: 2em;
}

.logo_google {
    width: 100px;
}







.contract_termes input[type="checkbox"] {
    margin-right: 10px;
}

.contract_termes {
    display: flex;
    align-items: center;
}









/* <div style="width: 510px; height: 103px; background: #C4C4C4; border-radius: 69px"></div> */